*{
    margin:0;
    font-family:gilroy;
    padding:0;
    box-sizing:border-box;
}
html,
body{
    height: 100%;
    width : 100%;
    background-color: rgb(5, 3, 32);
}
#box1{
    height:300px;
    width: 300px;
    background-color: crimson;
}
#box2{
    height:300px;
    width: 300px;
    background-color: rgb(32, 135, 124);
}